body{
    background-color: lightskyblue;
    background-image: url("../images/neon.png");
    
}

.container{
    background-color: rgb(253, 195, 88);
    padding: 30px;
}

.mainTitle{
    font-size:60px;
    text-align: center;
    color: purple;

}

.button{
    text-align:center;
}

.timer{
    text-align:center;
    height:120px;

}

#question{
    text-align: center;
}

.answers{
    text-align: center;
}

.answersCol{
    text-align: center;
}

.imageCol{
    text-align: center;
}

h3:hover{
    color:white;
    
}






